.message-list-container {
    margin-bottom: 16px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-list-container::-webkit-scrollbar{
    width: 5px;
}

.message-list-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.message-list-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.message-container{
    display: flex;
    gap: 4px;
    padding: 5px;
}

.message-list{
    display: flex;
    flex-direction: column;
}

.avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 10px;
}

.message-container.own .avatar{
    order: 2;
}

.message-content{
    margin-top: 8px;
    width: 80%;
}

.message-container.own{
    justify-content: flex-end;
}

.message-text{
    padding: 8px 16px;
    margin-bottom: 8px;
    background: var(--color-gray);
    border-radius: var(--border-radius);
    text-align: left;
    display: inline-block;
}

.message-container.own .message-content .message-text.edit{
    cursor: pointer;
}

.message-container .message-content .message-text-container{
    display: flex;
    align-items: center;
}

.message-container.own .message-content .message-text-container{
   justify-content: flex-end;
}

.message-container .message-content .message-text-container .pencil-icon{
    font-size: 14px;
    margin-left: 10px;
    opacity: 0.3;
}

.message-container.own .message-content .message-text-container .pencil-icon{
    margin-right: 10px;
}

.message-container .message-content .message-text-container .pencil-icon.not-own{
    order: 2;
}

.message-container.own .message-text{
    background: var(--color-blue);
    float: right;
}

.message-item{
    height: 200px;
    width: 100%;
    display: flex;
}

.message-container.own .message-item{
    justify-content: flex-end;
}

.mes-img{
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}